@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

html,
body {
  @apply bg-white dark:bg-zinc-950;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    color-scheme: dark;
  }
}

.bg-dark {
  @apply bg-white dark:bg-zinc-900;
}

@media (prefers-color-scheme: dark) {
  .bg-dark {
    color-scheme: dark;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
  }
  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
  }
  .dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
  }
}